.load {
  width: 100%;
  height: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(24, 24, 24);
  position: absolute;
}

.load--filho {
  width: 200px;
  height: 200px;
  box-shadow: 16px 14px 20px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.load--filho::before{ 
 
  content:"" ;
  background-image: conic-gradient(

          #00a6ff 20deg, 
          transparent 120deg   
  );
           width: 150%;
           height: 150%;
           position: absolute;
           animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg); 
  }
}

.load--filho::after {

  content: "Loading";
  width: 190px;
  height: 190px;
 background:#101010;
 position: absolute;
 border-radius: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 color:  #00a6ff;
 font-family: Arial, Helvetica, sans-serif;
 font-size: larger;
 letter-spacing: 5px;
 box-shadow: inset 20px 20px 20px #0000008c;
}

@media screen and (max-width: 700px) {
.load {
  position:fixed;
  width: 100vh;
  height: 10000px;
  z-index: 999999;
}
}